<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Katana Inventory</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

  </head>
  <body>
    <nav class="bg-black text-white text-[3rem] p-3 font-satisfy text-center">

      <div><a href="/">Katana Kaji</a></div>
    </nav>
    <main>
      <div
        class="w-[100vw] md:w-[80vw] bg-gray-100  m-auto mb-3 md:rounded-xl  shadow-2xl grid xl:grid-cols-4 grid-cols-2 auto-rows-max md:gap-3 p-6 md:mt-6 md:mb-12"
      >
       <!-- Starts here -->
      
      <% katanas.forEach(katana => { %>
        <div
      class="flex col-span-2 p-1 mt-2 bg-white shadow-xl rounded-xl font-inter"
    >
        <div class="grid image place-items-center">
          <img
            src="<%= katana.imageUrl %>"
            alt=""
            class="w-24 h-24 m-3 rounded md:w-36 md:h-auto"
          />
        </div>
        <div class="grid flex-1 grid-cols-4 pt-3 item-info">
          <div class="ml-1 text-sm text-left md:text-base lg:text-lg md:col-span-2 min-w-[10rem]">
            <p class=" line-clamp-2"><%= katana.name %></p>
          </div>
          <div class="col-start-4 text-sm text-center price md:text-lg ">
            $<%= katana.price %>
          </div>
          <div 
            class="col-span-3 py-4 pr-6 ml-1 text-sm text-left md:text-base max-h-36"
          >
            <p class="line-clamp-2">
              <%= katana.description %>
            </p>
          </div>
          <div
            class="flex items-end justify-center col-start-4 mb-6 mr-6 button"
          >
            <button
              class="w-32 p-2 text-base text-white transition-colors duration-300 bg-green-600 rounded md:text-2xl hover:bg-green-800 md:h-16"
            >
             <a href="<%= katana.url %>">Details</a>
            </button>
          </div>
        </div>
      </div>
      <% }) %>
    <!-- From here -->
    
    </div>
    </main>
    <div class="fixed transition duration-300 transform add bottom-2 right-2 lg:right-10 lg:bottom-10 hover:scale-110">
      <button
        class="bg-blue-500 rounded-full text-[3rem] w-20 h-20 md:w-26 md:h-26 text-white font-bold select-none"
      >
        +
      </button>
  </body>
</html>
